
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.nav-back {
  background-color: #2c7fb8;
}

.nav-text {
  color: white;
}

.linkt {
  font-size: 14pt;
  font-weight: bold;
}

.linkd {
  font-size: 12 pt;
}